body{
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: rgb(92, 59, 59);
    color: white;
    border-radius: 10px;
    height: 150px;
    width: 350px;
   text-align: center;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(190, 14, 206) ;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}
a:hover{
    color: rgb(0, 255, 106);
    transform: scale(1.1);
    background-color: chocolate;
}
.link{
    display: flex;
    justify-content: space-between;
}